.stringInputs {
    width: 200px;
    max-width: 100%;
}

.button {
    width: 150px;
    max-width: 100%;
}

#fields {
    max-width: 100%;
}

.input_field {
    width: 150px;
}

.button_field {
    width: 50px;
}

.user-list {
    margin-left: 10%;
    text-align: left;
}

.user-input-field {
    width: 200px;
}

.user-button-field {
    max-width: 100%;
}

.user-fields > ul {
    text-align: left;
}